body{
    background:gray; 
}
.navbar {
    background: white;
    height:80px;
}
.latitude {
    background: teal;
    position: absolute;
    width: 100px;
    height: 80px;
    padding-top:20px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-left:50px;
    color: white;
    font-size: 20px;
}

.plots {
    position: relative;
    margin-left:80%;
    
    
}

.companion {
    
    position:relative;
    margin-left:1px;
}



.delta {
    position:relative;
    margin-left:1px;
}
.container{
    position: absolute;
    margin-left:35px;
}
