body{
    background:rgb(209, 208, 208); 
}
.navbar {
    background: white;
    height:80px;


    
}
.latitude {
    background: teal;
    position: absolute;
    width: 100px;
    height: 80px;
    padding-top:20px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-left:50px;
    color: white;
    font-size: 20px;
}

.dropdown-toggle {
    position: relative;
    margin-left:80%;
       
    
}

.dropdown-menu {
    position:relative;
    margin-left:80%;
}

.companion {
    
    position:relative;
    margin-left:1px;
}



.delta {
    position:relative;
    margin-left:1px;
}
.container{
    position: absolute;
    margin-left:50px;
    margin-top:40px;
    
    
}
.summary{
    color:teal;
    background: white;
    font-size:30px;
    font-weight: 600;
    padding-left: 20px;
    
    
}

.picture{
    
}

.blah{
    
}

